:root {
    --cor-azul-titulo: #002F52;
    --cor-branca: #FFFFFF;
    --cor-preta: #000000;
    --cor-de-fundo: #EBECEE;
    --cor-laranja: #EB9B00;
    --cor-footer: #F9F9F9;
    --borda-footer: #858585;
    --texto-footer: #474646;
    --gradiente: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte: 'Poppins', sans-serif;
    --fonte-titulo-principal: 'Josefin Sans', sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte)
}

.header-container {
    align-items: center;
    background-color: var(--cor-branca);
    display: flex;
    height: 5rem;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.header__1 {
    display: flex;
    margin-left: 1.5rem;
}

.header__menu--icone--ativo {
    background-image: url(../img/menuAzul.svg);
    background-repeat: no-repeat;
    height: 60px;
    left: 0;
    padding: 16px;
    position: absolute;
    top: 0;
    width: 48px;
}

.header__logo {
    left: 96px;
    position: absolute;
    top: 20px;
}

.header-alt,
.header-alt__itens {
    display: none;
}

.header__2 {
    display: flex;
    margin-right: 1.896rem;
}

.header__compras {
    margin: 0 1.896rem;
}

.header__2-texto {
    display: none;
}

.menu-lateral {
    align-items: flex-start;
    background-color: var(--cor-branca);
    display: flex;
    flex-direction: column;
    height: 50%;
    left: -100%;
    position: absolute;
    text-transform: uppercase;
    transition: 0.25s;
    width: 67vw;
}

.menu-lateral--ativo {
    left: 0;
    transition: 0.25s;
}

.menu__titulo {
    color: var(--cor-laranja);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 1.5rem 0 2rem 1.5rem;
    text-transform: none;
}

.menu__itens {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
}

.menu__item {
    color: var(--cor-azul-titulo);
    font-size: 16px;
    margin-left: 1.5rem;
    line-height: 24px;
    text-decoration: none;
}