@media screen and (min-width: 1024px) {
    .footer {
        display: flex;
        height: auto;
        justify-content: space-around;
        padding-top: 3.5rem;
    }

    .footer__titulo {
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        margin: 0;
    }

    .footer__expandido--titulo,
    .footer-item {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }
    
    .footer__expandido--titulo {
        color: var(--borda-footer);
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    .footer-lista {
        display: block;
        margin-bottom: 70px;
    }

    .footer-item {
        align-items: center;
        display: flex;
        margin-bottom: 1.875rem;
    }

    .footer-link {
        color: var(--texto-footer);
        margin-left: 0.5rem;
        text-decoration: none;
    }
}